#balance-article {
    
}
#balance-section-color {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    align-items: center;
}
#balance-section-example {
    padding: 16px;
}

#balance-result {
    border: 2px solid white;
    margin: 16px auto;
    padding: 8px;
}
#value {
    font-size: 3rem;
    font-weight: bold;
    color: green;
}
#article-guide {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 16px;
}