* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #fafafa;
    padding: 32px;
}
#root {
    max-width: 900px;
    margin: 0 auto;
    border: 1px solid red;
    text-align: center;
}