* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}
body {
    padding: 0 32px;
    font-size: 16px;
}
#root {
    text-align: center;
    background-color: #fafafa;
    padding-top: 32px;
}

::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: #fafafa;
}
::-webkit-scrollbar-thumb {
    background-color: #1F316F;
    border-radius: 20px;
    border: 2px solid white;
}

@media screen and (width >= 1000px) {
    body {
        padding: 0 64px;
        background-color: #1f306f25;
    }
    #root {
        border: 1px solid rgba(0, 0, 0, 0.164);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.144);
    }
}